<h1>Ubicaion</h1>
<h1>Telefono:233...</h1>
<h1>Whatsapp:...</h1>

<p>
    <label for="">Nombre y apellido</label>
    <input type="text">
    
</p>
<p>
    <label for="">Mail</label>
    <input type="text">
</p>
<p>
    <label for="">Telefono</label>
    <input type="texto">
</p>