<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/alimento-para-perros">Alimento para perros</a></li>
      <li><a href="/alimento-para-gatos">Alimento para gatos</a></li>
      <li> <a href="/accesorios">Accesorios</a></li>
      <li><a href="/contactanos">Contactanos</a></li>
    </ul>
  </div>
  {{{body}}}
</body>

</html>